/** login **/

.membership-login-wrap {
  width: 400px;
  margin: 0 auto;
  margin-top: 165px;
}

.login-tab {
  position: relative;
  height: 50px;
  font-size: 30pt;
  font-weight: bold;
}

.login-form {
  position: relative;
}

.tab-contents-login {
  margin-top: 20px;
}

.login-form>a,
.login-form>button {
  text-align: center;
  line-height: 120px;
  background: #666;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}


.login-form input {
  height: 54px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  vertical-align: top;
}

.login-form input[type="password"] {
  margin-top: 15px;
}

.login-form.pwd input[type="password"] {
  height: 44px;
}

.login-lnk {
  color: #888;
  text-align: center;
}

.login-btn {
  display: block;
  width: 100%;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: black;
  font-size: 20px;
  border: 0;
}

.login-bt a {
  color: #fff;

}

.login-logo {
  margin-bottom: 50px;
  text-align: center;
}

/* 로그인 메뉴 */
.login-menu {
  margin-top: 10px;
  text-align: center;
}

.login-menu li {
  display: inline-block;
}

.login-menu li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  margin: 0 4px;
  background: #888;
}

.login-menu li:last-child::after {
  width: 0px;
}